// --------------------------------------------------
// Top Bar Component
// --------------------------------------------------

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px 0;
    
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 auto;

    &__logo{
        order: 1;
        img{
            width: 150px;
        }
    }

    h1{
        font-size: 0.875rem;
        color: $red;
        order: 2;
    }

    nav{
        order: 3;
        margin: 0 auto;
    }
}

@media screen and (min-width: 976px){
    .header{
        h1{ order: 3; font-size: 1.75rem; }
        nav{ order: 2; }
    }
}

@media screen and (min-width: 1120px){
    .header{
        &__logo img{ width: 200px; }
        h1{ font-size: 2.25rem; }
    }
}