// --------------------------------------------------
// COLOR VARIABLES
// --------------------------------------------------

$white: #FFF;
$black: #000;
$grey: #525252;
$lightGrey: #FAFAFA;

$red: #901C1C;
$lightRed: #DB8876;

$orange: #D3573C;


// --------------------------------------------------
// SIZE VARIABLES
// --------------------------------------------------

$marginMobile: 20px;    // Left and right window margin for mobile
$marginDesktop: 100px;  // Left and right window margin for Desktop
 
$borderRadius: 5px;