/* définition des variables pour les couleurs */

$white: #FFF;
$black: #000;
$grey: #525252;
$lightGrey: #FAFAFA;

$red: #901C1C;
$lightRed: #DB8876;
$orange: #D3573C;

$marginMobile: 20px;    
$marginDesktop: 100px;  
 
$borderRadius: 5px;